html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

$background: #fff;
$border: #ccc;

body {
    background-color: darken($background, 5%);
}

.container {
    background-color: $background;
    border: 1px solid $border;
    display: block;
    margin: 1em auto;
    padding: 1em;
    width: 50%;
}
